[submodule "packpath/packpath/pack/foo/start/playground"]
	path = packpath/packpath/pack/foo/start/playground
	url = https://github.com/nvim-treesitter/playground
[submodule "packpath/packpath/pack/foo/start/nvim-treesitter"]
	path = packpath/packpath/pack/foo/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
